body {
  background-color: #E9E7EA;
}

.mdl-layout-title {
  font-size: 1.7rem;
  font-weight: 500;
}

.top {
  padding: 40px;
}

.form-change {
  padding-top: 50px;
}

.mdl-list {
  font-size: 1.2rem;
  text-indent: 25px;;
}

.mdl-textfield__label {
  font-size: 1.3rem;
}

.delete {
  padding-top:20px;
  padding-left: 15px;
}

@media screen and (max-width: 1024px) {
  header.mdl-layout__header {
    display: flex;
  }
}
